<div class="modal-header">
  <h3>Side effects survey</h3>
</div>
<div class="modal-body">
  <p class="text-error"><strong>Alert: </strong> Patient reports always being bothered by [X, Y, Z]</p>
  <p><strong>Patient requests contact: </strong>[Yes|No]</p>
  <form>
    <fieldset>
      <legend>Action taken</legend>
      <label class="checkbox">
        <input type="checkbox"<%= alert.contactedPatient() ? " checked" : "" %> name="contacted_patient">contacted patient
      </label>
      <label class="checkbox">
        <input type="checkbox"<%= alert.awareOfIssue() ? " checked" : "" %> name="aware_of_issue">aware of ongoing issue
      </label>
      <label class="checkbox">
        <input type="checkbox"<%= alert.willDiscuss() ? " checked" : "" %> name="will_discuss">to discuss at next session
      </label>
  </form>
  <hr>
  <p><strong>Alert transmitted: </strong><%= alert.createdAt() %></p>
</div>
<div class="modal-footer">
  <a href="#" class="btn hide-alert" data-target="#side-effects-alert"><i class="icon-ok"></i> Save &amp; Do Not Clear</a>
  <a href="#" class="btn clear-alert" data-target="#side-effects-alert"><i class="icon-remove"></i> Clear Alert</a>
</div>
