<tr>
  <td><a href="/" class="btn btn-default" id="view-all">Return to MedActive Users Summary</a></td>
  <td colspan="2">
    <a href="#" class="btn btn-default" id="previous-period"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <a href="#" class="btn btn-default<%= canGoToNextPeriod ? '' : ' disabled' %>" id="next-period"><i class="glyphicon glyphicon-chevron-right"></i></a>
  </td>
  <% _.each(dates, function(date) { %>
  <th class="date-column"><%= DateFormatter.monthSlashDate(date) %></th>
  <% }); %>
</tr>
