<div class="status-indicator bad pull-left">&nbsp;</div><p class="pull-left"><%= survey.name.replace('_', ' ') %> reported</p>
<div class="status-indicator na pull-left">&nbsp;</div><p class="pull-left">not all info available</p>
<p class="pull-left" style="margin-left:35px;">no symbol: no <%= survey.name.replace('_', ' ') %> reported</p>

<table class="table table-striped table-bordered">
  <tbody>
    <tr id="sent-messages"></tr>
    <% _.each(survey.pages, function(page, name) { %>
      <% if (page.summary) { %>
    <tr>
      <th colspan="3" class="subheader">
        <%= page.summary %>
      </th>
      <% _.each(dates, function(date) { %>
      <td class="date-column"><%= statusIndicator(name, date) %></td>
      <% }); %>
    </tr>
      <% } %>
    <% }); %>
  </tbody>
</table>
