<div>
  <h2 class="pull-left">All Users Summary</h2>
  <a href="#" class="btn pull-right" data-toggle="modal" data-target="#help-modal">Help</a>
</div>

<%= helpModal.render() %>

<table class="table table-striped table-bordered" id="group-summary">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Medication</th>
      <th>Administration Times</th>
      <th><span title="Adherence calculations are based only on patients' responses to the prompts. Non-responses to prompts are not included in the denominator of these adherence calculations.">7/28 day adherence</span></th>
      <th>Non Adherence<br />Due to Side Effects</th>
      <th>Symptoms Survey</th>
      <th>Side Effects Survey</th>
      <th>Last update</th>
    </tr>
  </thead>
  <tbody>
    <% participants.each(function(participant) { %>
    <tr>
      <td>
        <a href="/weekly_summaries/<%= participant.patientId() %>" class="view-details"><%= participant.patientName() %></a>
      </td>
      <td><%= participant.getCurrentDoses()[0].summary() %></td>
      <td><%= _.map(participant.getCurrentDoses(), function(dose) { return dose.time(); }).join(", ") %></td>
      <td>
        <%= previousWeekAdherencePct(participant) %>% / <%= previousMonthAdherencePct(participant) %>%
      </td>
      <td>
        <% if (nonadherenceDueToSideEffects(participant)) { %>
        <div class="status-indicator bad" data-target="#non-adherence-alert" data-participant-id="<%= participant.id %>" data-alert-type="non_adherence"><div class="excl">!</div></div>
        <% } %>
      </td>
      <td>
        <% if (alwaysBotheredBy(participant, "symptoms")) { %>
        <div class="status-indicator bad" data-target="#symptoms-alert" data-participant-id="<%= participant.id %>" data-alert-type="symptoms"><div class="excl">!</div></div>
        <% } %>
      </td>
      <td>
        <% if (alwaysBotheredBy(participant, "side_effects")) { %>
        <div class="status-indicator bad" data-target="#side-effects-alert" data-participant-id="<%= participant.id %>" data-alert-type="side_effects"><div class="excl">!</div></div>
        <% } %>
      </td>
      <td>
        <% timeStamp = participant.getLatestAction().getEventDateTime() %>
        <%= DateFormatter.dateTimeString(timeStamp) %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<div id="side-effects-alert" class="modal hide" role="dialog"></div>

<div id="symptoms-alert" class="modal hide" role="dialog"></div>

<div id="non-adherence-alert" class="modal hide" role="dialog"></div>
