<h2>All Users Summary</h2>

<table class="table table-striped table-bordered" id="group-summary">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Medication</th>
      <th>Administration Times</th>
      <th><span title="Adherence calculations are based only on patients' responses to the prompts. Non-responses to prompts are not included in the denominator of these adherence calculations.">7/28 day adherence</span></th>
      <th>Non Adherence<br />Due to Side Effects</th>
      <th>Symptoms Survey</th>
      <th>Side Effects Survey</th>
      <th>Last update</th>
    </tr>
  </thead>
  <tbody>
    <% participants.each(function(participant) { %>
    <tr>
      <td>
        <a href="/weekly_summaries/<%= participant.patientId() %>" class="view-details"><%= participant.patientName() %></a>
      </td>
      <td><%= participant.doses()[0].summary() %></td>
      <td><%= _.map(participant.doses(), function(dose) { return dose.time(); }).join(", ") %></td>
      <td>
      </td>
      <td>
        <% if (dates = nonadherenceDueToSideEffects(participant)) { %>
        <div class="status-indicator bad" title="<%= dates.join(', ') %>"><div class="excl">!</div></div>
        <% } %>
      </td>
      <td>
        <% if (symptomsAlwaysBother(participant, "symptoms")) { %>
        <div class="status-indicator bad"><div class="excl">!</div></div>
        <% } %>
      </td>
      <td>
        <% if (sideEffectsAlwaysBother(participant, "side_effects")) { %>
        <div class="status-indicator bad"><div class="excl">!</div></div>
        <% } %>
      </td>
      <td>
        <%= participant.dataLastModifiedTimestamp() %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
