<div id="help-modal" class="modal hide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Help</h4>
      </div>
      <div class="modal-body">
        <p><strong>Do you wish to notify a researcher that you require assistance?</strong></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" id="help-yes">Yes</a>
        <a href="#" class="btn btn-default" id="help-cancel">Cancel</a>
      </div>
    </div>
  </div>
</div>
