body {font: "Droid Sans"}

td.date-column, th.date-column {
  width: 58px;
}

.status-indicator {
  width: 40px;
  height: 35px;
  background-size: 40px;
  background-repeat: no-repeat;
}

.status-indicator.bad {
  background-image: url(../img/bad-alert.png);
}

.status-indicator.na {
  background-image: url(../img/na-alert.png);
}

/* Bootstrap cusomization */
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
  background-color: #eee;
}
