<!DOCTYPE HTML>
<html>
  <head>
    <link href="/umb/assets/css/vendor/bootstrap-3.0.0-rc2.min.css" media="screen" rel="stylesheet">
    <link href="/umb/assets/css/vendor/bootstrap-glyphicons-1.0.0.css" media="screen" rel="stylesheet">
  </head>

  <body>
    <div class="navbar">
      <div class="container">
        <div class="pull-left">
          <img src="/umb/assets/img/medactive-icon.png">
        </div>
        <a class="navbar-brand" href="">MedActive</a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
