<!DOCTYPE HTML>
<html>
  <head>
    <link href="/umb/assets/css/vendor/bootstrap-3.0.0-rc2.min.css" media="screen" rel="stylesheet">
    <link href="/umb/assets/css/vendor/bootstrap-glyphicons-1.0.0.css" media="screen" rel="stylesheet">
    <link href="/umb/assets/css/global.css" media="screen" rel="stylesheet">
  </head>

  <body>
    <div class="navbar">
      <div class="container">
        <div class="pull-left">
          <img src="/umb/assets/img/{{ app_name|lower }}-icon.png">
        </div>
        <a class="navbar-brand pull-left" style="margin-left: 10px;" href="#">{{ app_name }}</a>
      </div>
    </div>
    <div class="container">
      <div class="row" id="main">
        <h2>Cohort Summary</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Clinician ID</th>
              <th>Patient ID</th>
              <th>Last Viewed Pt. on Clinician Dash.</th>
              <th>Last Login to Clinician Dash.</th>
              <th>Clinician Tech Support</th>
              <th>Phone Connectivity</th>
              <th>App Last Used</th>
              <th>Med Change</th>
              <th>Pt. Tech Support</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
          </thead>
          <tbody>
            {% for participant in participants %}
            <tr class="participant" data-participant-id="{{ participant.id }}">
              <td>{{ participant.clinician }}</td>
              <td>{{ participant.participant_id }}</td>
              <td>{{ participant.last_viewed_at }}</td>
              <td>{{ participant.latest_clinician_login }}</td>
              <td class="clinician-help-req" data-timestamp="{{ participant.latest_clinician_help_request|date:'c' }}" data-clinician-id="{{ participant.clinician_id }}"></td>
<div class="modal fade" id="{{ participant.id }}clinician-help-req">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        {% for m in participant.latest_clinician_help_requests %}
          <p>{{ m }}</p>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="javascript:clearClinicianAlert({{ participant.clinician_id }}, '{{ participant.latest_clinician_help_request|date:'c' }}'); $('#{{ participant.id }}clinician-help-req').modal('hide');">Clear</button>
      </div>
    </div>
  </div>
</div>
              <td class="phone-connect" data-timestamp="{{ participant.dates_with_data_last_week|last|date:'c' }}">{{ participant.dates_with_data_last_week|last }}</td>
<div class="modal fade" id="{{ participant.id }}phone-connect">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p>{{ participant.dates_with_data_last_week|last }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="javascript:clearAlert({{ participant.id }}, 'phone-connect', '{{ participant.dates_with_data_last_week|last }}'); $('#{{ participant.id }}phone-connect').modal('hide');">Clear</button>
      </div>
    </div>
  </div>
</div>
            {% load tz %}
              <td class="app-use" data-timestamp="{{ participant.latest_action|date:'c' }}" data-message="It has been longer than 48 hours since the patient used the app">{{ participant.latest_action|localtime|default_if_none:"" }}</td>
<div class="modal fade" id="{{ participant.id }}app-use">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p>It has been longer than 48 hours since the patient used the app</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="javascript:clearAlert({{ participant.id }}, 'app-use', '{{ participant.latest_action }}'); $('#{{ participant.id }}app-use').modal('hide');">Clear</button>
      </div>
    </div>
  </div>
</div>
              <td class="med-change" data-timestamp="{{ participant.latest_dose_change.created_at|date:'c' }}"></td>
<div class="modal fade" id="{{ participant.id }}med-change">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <b>{{ participant.latest_dose_change.created_at }}</b>
        {{ participant.latest_dose_change.message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-primary" onclick="javascript:clearAlert({{ participant.id }}, 'med-change', '{{ participant.latest_dose_change.created_at }}'); $('#{{ participant.id }}med-change').modal('hide');">Clear</button>
      </div>
    </div>
  </div>
</div>
              <td class="pt-support" data-timestamp="{{ participant.latest_contact_page_message|date:'c' }}"></td>
<div class="modal fade" id="{{ participant.id }}pt-support">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        {% for m in participant.latest_contact_page_messages %}
          <p>{{ m }}</p>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="javascript:clearAlert({{ participant.id }}, 'pt-support', '{{ participant.latest_contact_page_message }}'); $('#{{ participant.id }}pt-support').modal('hide');">Clear</button>
      </div>
    </div>
  </div>
</div>
              <td>{{ participant.enrollment_date|date:"M j" }}</td>
              <td>{{ participant.end_of_trial|date:"M j" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <script src="/umb/assets/js/vendor/jquery-2.0.3.min.js"></script>
    <script src="/umb/assets/js/vendor/bootstrap-3.0.0-rc1.min.js"></script>
    <script src="/umb/assets/js/vendor/lodash-1.3.1.min.js"></script>
<script>
  function renderAlerts() {
    $(".participant").each(function(i, p) {
      var participantId = $(p).data("participantId");
      _.each(['phone-connect', 'app-use', 'med-change', 'pt-support'], function(item) {
        var timestamp = $(p).find("." + item).data("timestamp");
        var message = $(p).find("." + item).data("message");
        if (requiresAlert(participantId, item, timestamp)) {
          renderAlert(participantId, item, timestamp, message);
          setUncleared(participantId, item, timestamp);
        }
      });

      var item = 'clinician-help-req';
      var timestamp = $(p).find("." + item).data("timestamp");
      var clinicianId = $(p).find("." + item).data("clinicianId");
      if (requiresClinicianAlert(clinicianId, timestamp)) {
        renderAlert(participantId, item, timestamp, '');
        setClinicianAlertUncleared(clinicianId, timestamp);
      }
    });
  }

  function requiresAlert(participantId, item, timestamp) {
    var ONE_DAY = 24 * 60 * 60 * 1000,
        TWO_DAYS = 2 * ONE_DAY;

    switch(item) {
      case 'phone-connect':
        return isUncleared(participantId, item, timestamp) && timeElapsed(timestamp) > ONE_DAY;
      case 'app-use':
        return isUncleared(participantId, item, timestamp) && timeElapsed(timestamp) > TWO_DAYS;
      default:
        return isUncleared(participantId, item, timestamp);
    }
  }

  function isUncleared(participantId, item, timestamp) {
    return timestamp && timestamp !== "None" && (localStorage[key(participantId, item)] !== (timestamp + "=cleared"));
  }

  function requiresClinicianAlert(clinicianId, timestamp) {
    return timestamp && timestamp !== "None" && (localStorage[key(clinicianId, 'clinician-help-req')] !== (timestamp + "=cleared"));
  }

  function timeElapsed(timestamp) {
    return new Date() - new Date(timestamp);
  }

  function key(id, item) {
    return item + '--' + id;
  }

  function setUncleared(participantId, item, timestamp) {
    localStorage[key(participantId, item)] = (timestamp + "=uncleared");
  }

  function setClinicianAlertUncleared(clinicianId, timestamp) {
    localStorage[key(clinicianId, 'clinician-help-req')] = (timestamp + "=uncleared");
  }

  function clearAlert(participantId, item, timestamp) {
    localStorage[key(participantId, item)] = (timestamp + "=cleared");
    $(".participant[data-participant-id=" + participantId + "] ." + item).html('');
  }

  function clearClinicianAlert(clinicianId, timestamp) {
    localStorage[key(clinicianId, 'clinician-help-req')] = (timestamp + "=cleared");
    $("[data-clinician-id=" + clinicianId + "]").html('');
  }

  function renderAlert(participantId, item, timestamp, message) {
    $(".participant[data-participant-id=" + participantId + "] ." + item)
    .html('<a data-toggle="modal" href="#' + participantId + item + '"><div class="status-indicator bad" title="' + (message || timestamp) + '"></div></a>');
  }

  renderAlerts();
</script>
  </body>
</html>
