<!DOCTYPE HTML>
<html>
  <head>
    <link href="/umb/assets/css/vendor/bootstrap-3.0.0-rc2.min.css" media="screen" rel="stylesheet">
    <link href="/umb/assets/css/vendor/bootstrap-glyphicons-1.0.0.css" media="screen" rel="stylesheet">
    <link href="/umb/assets/css/global.css" media="screen" rel="stylesheet">
    <script src="/umb/assets/js/vendor/jquery-2.0.3.min.js"></script>
    <script src="/umb/assets/js/vendor/bootstrap-3.0.0-rc1.min.js"></script>
    <style>
      .sparkline {
        width: 100%;
      }
      .sparkline .x-unit {
        float: left;
        width: 14%;
      }
      .sparkline .upper-bar, .sparkline .lower-bar {
        height: 10px;
      }
      .sparkline .bad .lower-bar {
        background-color: red;
      }
      .sparkline .good .upper-bar {
        background-color: green;
      }
    </style>
  </head>

  <body>
    <div class="navbar">
      <div class="container">
        <div class="pull-left">
          <img src="/umb/assets/img/{{ app_name|lower }}-icon.png">
        </div>
        <a class="navbar-brand pull-left" style="margin-left: 10px;" href="#">{{ app_name }}</a>
      </div>
    </div>
    <div class="container">
      <div class="row" id="main">
        <h2>Cohort Summary</h2>
        <table class="table">
          <thead>
            <tr>
              <th># times contacted</th>
              <th>Clinician ID</th>
              <th>Patient ID</th>
              <th>Last Clinician Check</th>
              <th>Data Received</th>
              <th>User Check In</th>
              <th>App Last Use</th>
              <th>MedChange</th>
              <th>Tech Help</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
          </thead>
          <tbody>
            {% for participant in participants %}
            <tr>
              <td>{{ participant.clinician_alerts|length }}</td>
              <td>{{ participant.clinician }}</td>
              <td>{{ participant.participant_id }}</td>
              <td>{{ participant.latest_clinician_check_in }}</td>
              <td>
                <div class="sparkline">
                  {% for day in dates %}
                    {% if day in participant.dates_with_data_last_week %}
                  <div class="x-unit good">
                    {% else %}
                  <div class="x-unit bad">
                    {% endif %}
                    <div class="upper-bar"></div>
                    <div class="lower-bar"></div>
                  </div>
                  {% endfor %}
                </div>
              </td>
              <td>
                <div class="sparkline">
                  {% for day in dates %}
                    {% if day in participant.dates_with_check_ins_last_week %}
                  <div class="x-unit good">
                    {% else %}
                  <div class="x-unit bad">
                    {% endif %}
                    <div class="upper-bar"></div>
                    <div class="lower-bar"></div>
                  </div>
                  {% endfor %}
                </div>
              </td>
              <td>
                <div class="sparkline">
                  {% for day in dates %}
                    {% if day in participant.dates_with_actions_last_week %}
                  <div class="x-unit good">
                    {% else %}
                  <div class="x-unit bad">
                    {% endif %}
                    <div class="upper-bar"></div>
                    <div class="lower-bar"></div>
                  </div>
                  {% endfor %}
                </div>
              </td>
              <td>
                <div class="sparkline">
                  {% for day in dates %}
                    {% if day in participant.dates_with_dose_changes_last_week %}
                  <div class="x-unit good">
                    {% else %}
                  <div class="x-unit bad">
                    {% endif %}
                    <div class="upper-bar"></div>
                    <div class="lower-bar"></div>
                  </div>
                  {% endfor %}
                </div>
              </td>
              <td>{{ participant.latest_clinician_help_request|date:"M j" }}</td>
              <td>{{ participant.earliest_action|date:"M j" }}</td>
              <td>{{ participant.latest_action|date:"M j" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
