<!DOCTYPE HTML>
<html>
  <head>
    <link href="assets/css/vendor/bootstrap-3.0.0-rc1.min.css" media="screen" rel="stylesheet">
    <link href="assets/css/vendor/bootstrap-glyphicons-1.0.0.css" media="screen" rel="stylesheet">
    <link href="assets/css/global.css" media="screen" rel="stylesheet">
    <script data-main="assets/js/ma_app.js" src="assets/js/vendor/require-2.1.6.min.js"></script>
  </head>

  <body>
    <div class="navbar">
      <div class="container">
        <div class="pull-left">
          <img src="assets/img/medactive-icon.png">
        </div>
        <a class="navbar-brand" href="">MedActive</a>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="">Users Summary</a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li>
            <a href="accounts/logout" class="navbar-link">Sign out</a>
          </li>
          <li>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#help-modal">Help</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row" id="main">
      </div>
    </div>
  </body>
</html>
